<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Products list</h1>

    {# List product #}
    <ul>
      {% for product in products %}
            <li>{{product.sku}}</li>
            <ul>
                {% for batch in product.batches %}
                    <li>{{batch.reference}}: Purchased {{batch.purchased_quantity}} - Allocated {{batch.allocated_quantity}}</li>
                {% endfor %}
            </ul>
      {% endfor %}
    </ul>

</body>
</html>